# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcscmblueprint

# XCKnife exemplar Specific
derivedDataPath
*.json-stream
